boltons==18.0.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
Cython==0.29.3
dlib==19.16.0
face-recognition==1.2.3
face-recognition-models==0.3.0
idna==2.8
imageio==2.4.1
llvmlite==0.27.0
natsort==5.5.0
numba==0.42.0
numpy==1.16.0
opencv-contrib-python==4.0.0.21
opencv-python==4.0.0.21
Pillow==5.4.1
pysaliency==0.2.3
requests==2.21.0
scipy==1.2.0
tqdm==4.29.1
urllib3==1.24.2
